@model CompanyWeb.Admin.Models.EmployeeViewModel
@using CompanyWeb.Admin.Resources.Employee
@{
    ViewBag.Title = EmployeeResource.CreateEmployee;
}
@section styles{
    <link href="@Url.Content("~/Content/vendors/cropper/dist/cropper.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendors/cropper/dist/crop_avatar.css")" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
}
@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @class = "avatar-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@EmployeeResource.CreateEmployee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="FirstName">@EmployeeResource.FirstName</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LastName">@EmployeeResource.LastName</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Title">@EmployeeResource.Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Description">@EmployeeResource.Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Content">@EmployeeResource.Content</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MobilePhone">@EmployeeResource.MobilePhone</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="IsActive">@EmployeeResource.IsActive</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "col-md-1" } })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="RowNumber">@EmployeeResource.RowNumber</label>
            <div class="col-md-10">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RowNumber, new { htmlAttributes = new { @class = "col-md-1" } })
                    @Html.ValidationMessageFor(model => model.RowNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="FirstName">@EmployeeResource.AvatarUrl</label>
            <div class="col-md-10">
                <div class="container" id="crop-avatar">
                    <!-- Current avatar -->
                    <div class="avatar-view" title="Change the avatar">
                        <img src="@Url.Content("~/Content/images/no_image.png")" alt="Avatar" id="imgAvatar" name="imgAvatar">
                    </div>
                    <!-- Cropping modal -->
                    <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="avatar-body">
                                        <!-- Upload image and data -->
                                        <div class="avatar-upload">
                                            <input type="hidden" class="avatar-src" name="avatar_src">
                                            <input type="hidden" class="avatar-data" name="avatar_data">
                                            <label for="avatarInput">Local upload</label>
                                            <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                                        </div>
                                        <!-- Crop and preview -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="avatar-wrapper"></div>
                                            </div>
                                        </div>
                                        <div class="row avatar-btns">
                                            <div class="col-md-9">

                                            </div>
                                            <div class="col-md-3">
                                                <input id="btnKirp" type="button" class="btn btn-primary btn-block avatar-save" value="Kırp" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div> -->
                            </div>
                        </div>
                    </div><!-- /.modal -->
                    <!-- Loading state -->
                    <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink(EmployeeResource.BackToList, "Index", null, new { @class = "btn btn-primary" })
                <input type="submit" value="@EmployeeResource.Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="@Url.Content("~/Content/vendors/cropper/dist/cropper.min.js")"></script>
    <script src="@Url.Content("~/Content/vendors/cropper/dist/crop_avatar.js")"></script>
@Scripts.Render("~/Content/ckeditor/ckeditor.js")
    <script>
        $("#btnKirp").on("click", function () {
            var fd = new FormData();
            var cropJs = $(".avatar-data").val();
            fd.append('file', $("#avatarInput")[0].files[0]);
            fd.append('cropJs', cropJs);

            $.ajax({
                url: '@Url.Action("LoadCropImage","Employee")',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    $("#imgAvatar").attr('src', data);
                    $(".close").click();
                }
            });
        });

      


    var editor = CKEDITOR.instances['Content'];
        if (editor) { editor.destroy(true); }
        CKEDITOR.replace('Content', {
            enterMode: CKEDITOR.ENTER_BR,
        });

    </script>
}

