@model Customer.Models.Classes.About.AboutModel
@{
    ViewBag.Title = "AboutDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    TempData["pageName"] = "Home";
    TempData["page"] = "About";
    TempData["page1"] = "AboutDetails";
    
}
@Html.Partial("Partials/_pageBar")

<div class="profile">
    <div class="tabbable-line tabbable-full-width">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab"> Overview </a>
            </li>
            <li>
                <a href="#tab_1_3" data-toggle="tab"> Account </a>
            </li>

        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tab_1_1">

                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>

                                @{
                                    if (Model.FilePath.Contains("image"))
                                    {
                                        <img src="@Model.FilePath" style="width:200px;height:200px;">
                                    }
                                    else
                                    {
                                        <video  height="150" autoplay>
                                            <source src="@Model.FilePath" type="video/mp4" />
                                        </video>
                                    }
                                }

                            </li>
                           
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-8 profile-info">
                                <h1 class="font-green sbold uppercase">@Model.Title</h1>
                                <p>
                                    @Model.Description
                                </p>
                               
                                <ul class="list-inline">
                                     <li>
                                        <i class="fa fa-briefcase"></i> Durum :<span class="label label-sm label-@(Model.Status == true ? "success" : "danger")"> @Model.Status </span>
                                    </li>
                                </ul>
                            </div>
                      
                        </div>
                        <!--end row-->

                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tab_1_3">
                <div class="row profile-account">
@using (Html.BeginForm("SetAboutDetails", "Home", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
{
                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" href="#tab_1-11">
                                    <i class="fa fa-cog"></i> Aboutt Info
                                </a>
                                <span class="after"> </span>
                            </li>
                           
                          
                        </ul>
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="@Model.FilePath" />
                                    @Html.HiddenFor(model => model.FilePath)
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new"> Select image </span>
                                        <span class="fileinput-exists"> Change </span>
                                        <input type="file" name="file" value=" " />
                                    </span>
                                    <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                            </div>

                        </div>
                    </div>
                 
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "Aşağıdaki sorunlar oluştu!")
                        @Html.HiddenFor(model => Model.Id)
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div id="tab_1-11" class="tab-pane active">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description)
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "desc",@name="desc" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                   
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status)
                                        @Html.CheckBoxFor(model => model.Status, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>
                                    <div class="margiv-top-10">
                                        <button type="submit" class="btn green"> Kaydet</button>
                                        <a href="javascript:;" class="btn default"> Vazgeç </a>
                                    </div>

                                </div>
                               
                              

                            </div>
                        </div>
                    }

                    <!--end col-md-9-->
                </div>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/ckeditor/ckeditor.js")



<script type="text/javascript">
    var editor = CKEDITOR.instances['Description'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('Description', {
        enterMode: CKEDITOR.ENTER_BR,
    });
  
</script>