@{
    Layout = null;
}
@model Kullanici_Islemleri.Models.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Waveoffice - Responsive admin template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/Content/../../../html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/Content/js/ie/respond.min.js"></script>
      <script src="/Content/js/flot/excanvas.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/Content/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/ico/apple-touch-icon-57-precomposed.png">
</head>

<body class="login-page">


    <!-- Copyright ɠ2008. Spidersoft Ltd -->
    <style>
        A.applink:hover {
            border: 2px dotted #DCE6F4;
            padding: 2px;
            background-color: #ffff00;
            color: green;
            text-decoration: none;
        }

        A.applink {
            border: 2px dotted #DCE6F4;
            padding: 2px;
            color: #2F5BFF;
            background: transparent;
            text-decoration: none;
        }

        A.info {
            color: #2F5BFF;
            background: transparent;
            text-decoration: none;
        }

            A.info:hover {
                color: green;
                background: transparent;
                text-decoration: underline;
            }
    </style>

    <!-- /Copyright ɠ2008. Spidersoft Ltd -->



    <div id="maincontainer" class="clearfix">

        <!-- ======= Header start ======= -->
        <header>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <div class="row-fluid">

                            <div class="span6">
                               
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ======= Header end ======= -->

        <div id="formContainer">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()//Login kontrolune gırıs ıcın karmasık degerli token uretır.
                                        <small>@Html.ValidationSummary(true, "Aşağıdaki Sorunlar Olustu.") @* Hata olustugunda bu uyarı metnı yazar,alttaraflarda hangi inputun hatalı oldunu yazar*@</small>
    <h3 class="form-title">Giriş Paneli</h3>
                                        <div class="line">
                                            @Html.TextBoxFor(model => model.eMail, new { @class = "simple_input", placeholder = "Email Adresinizi Giriniz?" })
                                            <small>@Html.ValidationMessageFor(model => model.eMail)</small>

                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="line">
                                            @Html.PasswordFor(model => model.password, new { @class = "simple_input", placeholder = "Şifrenizi Giriniz?" })
                                            <small>@Html.ValidationMessageFor(model => model.password)</small>

                                            <a href="@Url.Action("RegisterPassword","Account")" class="forget field_notice">Şifremi Unttum?</a>
                                            <i class="icon-lock"></i>
                                        </div>
                                        <div class="line">
                                            @Html.CheckBoxFor(model => model.beniHatirla)
                                            <span class="button_label">Remember me</span>
                                            <button type="submit" class="floatR btn btn-small btn-danger">Login</button>

                                            <div class="clear"></div>
                                        </div>
            }
            <div class="clear"></div>
        </div>

        <div class="modal hide fade" id="lostpw">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Forgot your password?</h3>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <input type="text" class="simple_input inline" placeholder="Enter your e-mail adress here and press submit">
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-danger inline">Submit</a>
            </div>
        </div>


    </div>
    <!-- ======= Main container end ======= -->
    <!-- ======= Javascript ======= -->
   
    <script src="/Content/js/jquery-1.7.2.min.js"></script>

    <!-- ======= Bootstrap plugins ======= -->
    <script src="/Content/js/bootstrapPlugins/bootstrap.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-transition.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-alert.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-dropdown.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-scrollspy.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-tab.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-tooltip.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-popover.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-button.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-collapse.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-carousel.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-typeahead.js"></script>

    <!-- ======= Chosen ======= -->
    <script src="/Content/js/chosen/chosen.jquery.js"></script>

    <!-- ======= Antiscroll ======= -->
    <script src="/Content/js/antiscroll/antiscroll.js"></script>

    <!-- ======= Cleditor ======= -->
    <script src="/Content/js/cleditor/jquery.cleditor.min.js"></script>

    <!-- ======= Colorpicker ======= -->
    <script src="/Content/js/colorPicker/colorpicker.js"></script>

    <!-- ======= Cookie ======= -->
    <script src="/Content/js/cookie/jquery.cookie.min.js"></script>

    <!-- ======= Datatable ======= -->
    <script src="/Content/js/dataTable/jquery.dataTables.min.js"></script>

    <!-- ======= Debounced resize ======= -->
    <script src="/Content/js/debonucedResize/jquery.debouncedresize.min.js"></script>

    <!-- ======= Easy tabs ======= -->
    <script src="/Content/js/easyTabs/jquery.easytabs.min.js"></script>

    <!-- ======= Fancybox ======= -->
    <script src="/Content/js/fancybox/jquery.easing-1.3.pack.html"></script>
    <script src="/Content/js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script src="/Content/js/fancybox/jquery.fancybox-1.3.4.pack.html"></script>
    <script src="/Content/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>

    <!-- ======= Jquery flot ======= -->
    <script src="/Content/js/flot/jquery.flot.js"></script>
    <script src="/Content/js/flot/jquery.flot.pie.js"></script>
    <script src="/Content/js/flot/jquery.flot.resize.js"></script>

    <!-- ======= Full calendar ======= -->
    <script src="/Content/js/fullcalendar/fullcalendar.js"></script>
    <script src="/Content/js/fullcalendar/excanvas.min.js"></script>

    <!-- ======= File tree ======= -->
    <script src="/Content/js/jqueryFileTree/jqueryFileTree.js"></script>

    <!-- ======= Jquery tagsinput ======= -->
    <script src="/Content/js/jqueryTags/jquery.tagsinput.min.js"></script>

    <!-- ======= Jquery UI ======= -->
    <script src="/Content/js/jqueryui/jquery.spinners.min.js"></script>
    <script src="/Content/js/jqueryui/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="/Content/js/jqueryui/ui.selectmenu.js"></script>

    <!-- ======= Form wizards ======= -->
    <script src="/Content/js/form-wizard/jquery.form.wizard.js"></script>
    <script src="/Content/js/form-wizard/jquery.form.js"></script>
    <script src="/Content/js/form-wizard/bbq.js"></script>

    <!-- ======= Masked inputs ======= -->
    <script src="/Content/js/maskedInputs/jquery.maskedinput-1.3.js"></script>

    <!-- ======= Qtip ======= -->
    <script src="/Content/js/qtip/jquery.qtip.min.js"></script>

    <!-- ======= Sparklines ======= -->
    <script src="/Content/js/sparklines/jquery.sparkline.js"></script>

    <!-- ======= Super textarea ======= -->
    <script src="/Content/js/superTextarea/jquery.supertextarea.min.js"></script>

    <!-- ======= Jquery tipsy ======= -->
    <script src="/Content/js/tipsy/jquery.tipsy.js"></script>

    <!-- ======= Jquery lockscreen ======= -->
    <script src="/Content/js/lockscreen/lockscreen.js"></script>

    <!-- ======= Jquery tipsy ======= -->
    <script src="/Content/js/prettyPhoto/jquery.prettyPhoto.js"></script>

    <!-- ======= Jquery iButton ======= -->
    <script src="/Content/js/iButton/jquery.ibutton.js"></script>
    <script src="/Content/js/iButton/jquery.metadata.js"></script>

    <!-- ======= Jquery uniform ======= -->
    <script src="/Content/js/uniform/jquery.uniform.min.js"></script>

    <!-- ======= Jquery validate ======= -->
    <script src="/Content/js/validate/jquery.validate.min.js"></script>

    <!-- ======= Jquery validation engine ======= -->
    <script src="/Content/js/validationEngine/jquery.validationEngine.js"></script>
    <script src="/Content/js/validationEngine/jquery.validationEngine-en.js"></script>

    <!-- ======= xBreadcrumbs ======= -->
    <script src="/Content/js/xBreadcrumbs/xbreadcrumbs.js"></script>

    <!-- ======= Custom ======= -->
    <script src="/Content/js/common.js"></script>
    <script src="/Content/js/forms.js"></script>
    <script src="/Content/js/3d-login/script.html"></script>

    <!--[if lte IE 8]>
            <link rel="stylesheet" href="/Content/css/ie8.css" />
    <![endif]-->
    <!--[if IE]>
            <link rel="stylesheet" href="/Content/css/ie.css" />
    <![endif]-->
  
</body>
</html>

