@using System.Web.Optimization
@{
    var myModel = new Customer.Models.LayoutViewModel();

    var _np = new Customer.BAL.Providers.IndexProvider.NavigationProvider();
    var _cp = new Customer.BAL.Providers.ContactProvider.ContactProvider();
    var _hscp = new Customer.Areas.Admin.Provider.HomeSocialProvider();
    myModel.SocialListModel = _hscp.getListSocialModel();
    myModel.NavigationListModel = _np.GetNavigationListModel();
    myModel.ContactFooterModel = _cp.GetContactFooterModel();
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guide &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />
 <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
   <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,600,400italic,700' rel='stylesheet' type='text/css'>
 <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/js/respond.min.js")"></script>
    <![endif]-->
    @Styles.Render("~/Content/css")
 </head>
<body>
<div class="fh5co-loader"></div>
 <div id="fh5co-page">
        @Html.Partial("Partials/_Index/_Header/_navigation",myModel);
    @RenderBody()
 <footer id="fh5co-footer">
            <div class="container">
                <div class="row row-bottom-padded-md">
                   @{
                       Html.RenderPartial("Partials/_Index/_Footer/_company");
                       Html.RenderPartial("Partials/_Index/_Footer/_support");
                       Html.RenderPartial("Partials/_Index/_Footer/_contact",myModel.ContactFooterModel);
                       Html.RenderPartial("Partials/_Index/_Footer/_follow",myModel.SocialListModel);
                   }
                </div>
 </div>
           @Html.Partial("Partials/_Index/_Footer/_copyright")
        </footer>
        <!-- END #fh5co-footer -->
    </div>
  @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</body>
</html>
