@model IEnumerable<CompanyWeb.Entity.Model.Category>
<div id="main-nav" style="margin-top:0px;margin-left:0px;" class="navbar navbar-inverse bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header responsive-logo">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index","Home")" class="navbar-brand">
                <img src=""  alt="">
            </a>
        </div>
        <nav class="navbar-collapse bs-navbar-collapse collapse" id="site-navigation" >
          
            <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
                <div class="mega-menu-toggle">
                    <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-right' id='mega-toggle-block-1'></div>
                </div>
                <ul id="mega-menu-primary" class="mega-menu mega-menu-horizontal mega-no-js" data-event="hover" data-effect="disabled" data-second-click="close" data-document-click="collapse" data-reverse-mobile-items="true" data-vertical-behaviour="standard" data-breakpoint="600">

                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home  mega-align-bottom-left mega-menu-megamenu mega-menu-item-18241' id='mega-menu-item-18241'>
                        <a class="mega-menu-link" href="@Url.Action("Index","Home")" >AnaSayfa</a>

                    </li>
                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18243' id='mega-menu-item-18243'>
                    <a class="mega-menu-link" href="@Url.Action("Index","Home")#aboutus" >Hakkımızda</a>
                    </li>
                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18243' id='mega-menu-item-18243'>
                        <a class="mega-menu-link" href="#focus" >Hizmetlerimiz</a>
                    </li>
                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18244' id='mega-menu-item-18244'>
                        <a class="mega-menu-link" href="@Url.Action("Index","Home")#team">Biz</a>
                    </li>
                    @foreach (var item in Model)
                    {
                        <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18244' id='mega-menu-item-18244'>
                            <a class="mega-menu-link" href="@Url.Action("Index","Service",new {@id=item.Id})">MBTI®</a>
                        </li>
                    }
                    
                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18247' id='mega-menu-item-18247'>
                        <a class="mega-menu-link" href="@Url.Action("Index","Home")#testimonials" >Görüşler</a>
                    </li>
                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-18248' id='mega-menu-item-18248'>
                        <a class="mega-menu-link" href="@Url.Action("Index","Home")#contact" >İletişim</a>
                    </li>

                    <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-18232' id='mega-menu-item-18232'>
                        <a class="mega-menu-link" href="@Url.Action("Index","Home")#latestnews" >Bizden Haberler</a>
                    </li>
                    <li>@Html.ActionLink("TR", "ChangeLang", "Home", new { lang = "tr" }, null)</li>
                    <li>@Html.ActionLink("EN", "ChangeLang", "Home", new { lang = "en" }, null)</li>

                </ul>
            </div>
        </nav>
    </div>
</div>
