@model IEnumerable<CompanyWeb.Admin.Models.SliderViewModel>
@using CompanyWeb.Admin.Resources.Slider
@{
    ViewBag.Title = SliderResource.Slider;
}

<p>
    @Html.ActionLink(SliderResource.CreateSlider, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @SliderResource.Image
        </th>
        <th>
            @SliderResource.Title
        </th>
        <th>
            @SliderResource.RowNumber
        </th>
        <th>
            @SliderResource.IsActive
        </th>
        <th>
            @SliderResource.Process
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <text><img src="@item.ImageUrl" alt="" style="max-height: 100px"/></text>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink(SliderResource.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink(SliderResource.Detail, "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink(SliderResource.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
