@{
    var model = new Customer.Models.LayoutViewModel();

    var _ep = new Customer.BAL.Providers.IndexProvider.EmployeesProvider();
    model.EmployeesListModel = _ep.GetEmployeesListModel();
}
<section id="fh5co-testimonials">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="fh5co-label animate-box">Çalışanlarımız</div>
                <h2 class="fh5co-lead animate-box">Çalışanlarımız Hakkında</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center animate-box">
                <div class="flexslider">
                    <ul class="slides">
                        @foreach (var item in model.EmployeesListModel)
                        {
                            <li>
                                <blockquote>
                                    <p>&ldquo;@item.Description&rdquo;</p>
                                    <p><cite>&mdash; @item.Name @item.SurName</cite><br /><cite>&mdash; @item.Email</cite></p>
                                </blockquote>
                            </li>
                        }
                     
                    </ul>
                </div>
                <div class="flexslider-controls">
                    <ol class="flex-control-nav">
                        @foreach (var item in model.EmployeesListModel)
                        {
                            <li class="animate-box"><img src="@Url.Content(item.Image)" alt="@item.Name @item.SurName"></li>
                        }
                       
                     
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>