@model CompanyWeb.Entity.Model.Language
@using CompanyWeb.Admin.Resources.Language
@{
    ViewBag.Title = LanguageResource.Detail;
}

<div>
    <h4>@LanguageResource.LanguageDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @LanguageResource.Detail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @LanguageResource.Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @LanguageResource.IsActive
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @LanguageResource.IconUrl
        </dt>

        <dd>
            @{
                if (!string.IsNullOrEmpty(Model.IconURL))
                {
                    <text><img src="@Model.IconURL" alt="" style="max-height:34px" /></text>
                }
            }
        </dd>
    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(LanguageResource.BackToList, "Index", null, new { @class = "btn btn btn-primary" })
            @Html.ActionLink(LanguageResource.Edit, "Edit", new { Id = Model.ID }, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>
