@model CompanyWeb.Admin.Models.ReferenceViewModel
@using CompanyWeb.Admin.Resources.Reference

@{
    ViewBag.Title = ReferenceResource.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>@ReferenceResource.ReferenceDeleteProcess</h3>
<div>
    <h4>@ReferenceResource.Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @ReferenceResource.LogoName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoName)
        </dd>
        <dt>
            @ReferenceResource.ImageUrl
        </dt>
        <dd>
            @{
                if (!string.IsNullOrEmpty(Model.ImageURL))
                {
                    <text>
                        <img src="@Model.ImageURL" alt="" style="max-height: 300px" />
                    </text>
                }
            }
        </dd>


        <dt>
            @ReferenceResource.Testimonial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Testimonial)
        </dd>
        <dt>
            @ReferenceResource.WebUrl
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebURL)
        </dd>
        <dt>
            @ReferenceResource.IsTestimonial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTestimonial)
        </dd>
        <dt>
            @ReferenceResource.IsActive
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-2 col-md-10">
            @Html.ActionLink(ReferenceResource.BackToList, "Index", null, new { @class = "btn btn btn-primary" })
            <input type="submit" value="@ReferenceResource.Delete" class="btn btn-danger" />
        </div>
    }
</div>

