@model List<Customer.Models.Classes.WorksModel>


<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                     <span class="caption-subject font-green bold uppercase"><a href="@Url.Action("WorksDetails", "Home")" title="Ekle">Add Works @TempData["err"]</a></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-card mt-element-overlay">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="mt-card-item">
                                    <div class="mt-card-avatar mt-overlay-1">
                                        <img src="@item.ImageUrl" style="width:235px;height:175px;"/>
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline" href="@Url.Action("WorksDetails", "Home", new { @id = item.Id })" title="Güncelle">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn default btn-outline" href="@Url.Action("RemoveWorks", "Home", new { @id = item.Id })" title="Sil"  >
                                                        <i class=" icon-link">
                                                        </i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                   
                                    <div class="mt-card-content">
                                        <h3 class="mt-card-name">@Helper.TextLength(item.Title,15)</h3>
                                        <p class="mt-card-desc font-grey-mint">@Helper.TextLength(item.Description,20)</p>
                                        <div class="mt-card-social">
                                            <ul>
                                                <li>
                                                    <strong>@item.Order</strong>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="@item.Status" checked="@(item.Status==true ? "checked" :null)" />
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="icon-social-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                       
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
