@model Customer.Models.Classes.Contact.ContactModel

<div class="col-md-3 col-sm-6 col-xs-12 animate-box">
    <div class="fh5co-footer-widget">
        <strong>İletişim</strong><br />
     
            @Model.MailAdress<br />
            @Model.Adress <br />
            @Model.Telephone1<br />
            @Model.Telephone1<br />
            @Model.Telephone1
       
    </div>
</div>